<% if user_signed_in? %>
<a href="/blogs/new">Write A story</a>
<% else %>
<p>Log in to start writing!</p>
<% end %>
<% @blogs.each do |blog| %>
	<h1><a href="/blogs/<%= blog.id%>"><%= blog.headline %></a></h1>
	<h3><%= blog.author %></h3>
	<img src="<%= blog.img_url %>">
	<p><%= blog.content %></p>
<% end %>