<div id="category">
<a href="/blogs/category/Sports" class="button">Sports</a>
<a href="/blogs/category/Science" class="button">Science</a>
<a href="/blogs/category/Dogs" class="button">Dogs</a>
<a href="/blogs/category/Cats" class="button">Cats</a>
<a href="/blogs/category/General" class="button">General</a><br />
<a href="/blogs/category/Entertainment" class="button">Entertainment</a>
<a href="/blogs/category/Food" class="button">Food</a>
<a href="/blogs/category/Personal" class="button">Personal</a>
<a href="/blogs/category/Politics" class="button">Politics</a>
</div>
<% @blogs.each do |blog| %>
	<h1><a href="/blogs/<%= blog.id%>"><%= blog.headline %></a></h1>
	<h3>By: <a href="/blogs/author/<%= blog.user_id%>"><%= blog.author %></a></h3>
	<img src="<%= blog.img_url %>">
	<p><%= blog.content %></p>
	<a href="/blogs/<%= blog.id%>">READ MORE</a>
<% end %>