<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">

  <div class="large-12 columns">
    
      <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
        <ul class="title-area">
          <li class="name">
            <h1 id="icon"><a href="/blogs">Roll ~</a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
        <ul class="right">
            <div class="login">
            <% if user_signed_in? %>
            <li id="white" class="active"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
            <li class="active"><a href="/users/sign_in" class="button">Sign In</a></li>
            <% end %> 
          </div>
      </ul>
      </section>
      <section class="top-bar-section">
    <!-- Right Nav Section -->
        <ul class="left">
          <% if user_signed_in? %>
            <li class="active"><a href="blogs/author/<%=current_user.id %>">Profile</a></li>
            <li class="divider"></li>
            <li class="active"><a href="/favorite_blogs/profile/<%= current_user.id%>">Favorites</a></li>
            <li class="divider"></li>
            <li class="active"><a href="/blogs/new">Write a story</a></li>
            <li class="divider"></li>
            <li class="active"><a href="/users/edit">Edit your profile</a></li>
          <% end %>
        </section>
      </nav>
    </div>
   

    <!-- <a href="/blogs">Home</a> -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <% if user_signed_in? %>
    <p><%=current_user.username %> is logged in </p>
    <% end %>


    <%= yield %>
  </div>
</div>
</body>
</html>
